﻿
/* body{     
    background-image:url(IMAGE/LOGO.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */
#date, #Quotation_number, #Customer_number, #dateline {
    float: right;
}
#first {
    margin-bottom: -7px;
}
#date{
    margin-top: -33px;
}
.hr {
    border: 1.5px solid black;
}
#Quotation_number, #Customer_number, #dateline{
    margin-top:-26px
}

#home {
    height: 110px;
    width: 110px;
}
.info {
    margin-bottom: -0.5em;
    margin-top: -3em;
    margin-left: 2em;
}
.product_list {
    width: 770px;
    /*自動斷行*/
    word-wrap: break-word;
    table-layout: fixed;
}

.print {
    border: 0;
}

.list, #MyWay_address, #MyWay_phone, #MyWay_number {
    border: 0;
}

#name_list, #input_customer_name {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

textarea {
    max-width: 100%;
    BACKGROUND-COLOR: transparent;
    overflow:hidden;
}

#sample_word {
    float: right;
    border: 3px solid lightblue;
    font-size: 60px;
    color: grey;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    BACKGROUND-COLOR: transparent;
}

button {
    background-color: white;
    color: black;
    border: 2px solid;
    border-radius: 20%;
}

    button:hover {
        background-color: #008CBA;
        color: white;
    }

* {
    font-family: Microsoft JhengHei;
}

.flip-box {
    background-color: transparent;
    width: 260px;
    height: 50px;
    perspective: 1000px;
    margin-left: 100px;
    margin-top: -90px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background: linear-gradient(to right,#88cfff,#136d97 );
    color: transparent;
    -webkit-background-clip: text;
}

.flip-box-back {
    background: linear-gradient(to right, #136d97, #88cfff);
    color: transparent;
    -webkit-background-clip: text;
    transform: rotateY(180deg);
}

.A {
    /* margin:"5px 10px 15px 20px"; */
    background: linear-gradient(to bottom, #d3f1ff, #ffffff);
    
}
.companyinfo {
    margin-left: 110px;
    margin-top: 10px;
}
#company_email {
    float: right;
    
}
#company_email_data {
    float: right;

}
#company_email_input {
    border: 0;
}
#table2 {
    float: right;
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}
#print_button{
    margin-left:25em;
    margin-top:-13em;
}
#printbtn{
    width:200px;
    height:200px;
}
/* footer{
    background: linear-gradient(to top, #70cbf5, #ffffff);
  } */
