﻿

@model MyWay_Quotation.ViewModels.IndexViewModel;
@{
  
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>報價單系統</title>
    <link rel=stylesheet type="text/css" href="~/css/css.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />

    <script>
        var array_length = 1;
        function costumer() {//客戶資料
            const temp = document.getElementById("input_customer_name").value;
            if (temp == "@Model.Cuscompany.Name") {
                document.getElementById("input_customer_name").value = "@Model.Cuscompany.Name";
                document.getElementById("input_date").value = "@(Model.Cusorder.Trandate.ToString())";
                document.getElementById("input_company_name").value = "@Model.Cuscompany.CoName";
                document.getElementById("input_Quotation_number").value = ("@(Model.Cusorder.Quodate.ToString())");
                document.getElementById("input_company_position").value = "@Model.Cuscompany.CoAddress";
                document.getElementById("input_Customer_number").value = "@Model.Cusorder.Uninum";
                document.getElementById("input_company_phone").value = "@Model.Cuscompany.CoPhone";
                document.getElementById("input_dateline").value = "@(Model.Cusorder.Valdate.ToString())";
                console.log(document.getElementById("input_Customer_number").value);
            }
        };
        /*------------------------------------購買SPEC-----------------------------------------------*/
        function MyWay_product() {
            const temp = document.getElementById("MyWay_product").value;
            if (temp == "Fever Guard") {
                document.getElementById("product_name").value = "Fever Guard" + "\n" + "(1)軟體:人臉追蹤測溫軟體" + "\n" + "(2)型號:FGA11-IR1" + "\n" + "(3)電腦:簡易型電腦";
                document.getElementById("quanity1").value = "1";
                document.getElementById("normal1").value = "48000";
                document.getElementById("special_offer1").value = "48000";
                document.getElementById("total1").value = "48000";
            } else if (temp == "My Face") {
                document.getElementById("product_name").value = "My Face" + "\n" + "(1)軟體:人臉辨識軟體" + "\n" + "(2)型號:FGA11-IR1" + "\n" + "(3)電腦:一體機KIOSK";
                document.getElementById("quanity1").value = "1";
                document.getElementById("normal1").value = "65000";
                document.getElementById("special_offer1").value = "65000";
                document.getElementById("total1").value = "65000";
            } else if (temp == "LineBot") {
                document.getElementById("product_name").value = "LineBot機器人服務" + "\n" + "(1)軟體:" + "\n" + "(2)服務:Line" + "\n" + "(3)裝置:智慧型手機";
                document.getElementById("quanity1").value = "1";
                document.getElementById("normal1").value = "100000";
                document.getElementById("special_offer1").value = "100000";
                document.getElementById("total1").value = "100000";
            }
        };
        /*-----------------------------------------------------------------------------------*/
        // function add_product(){
        //     const temp = document.getElementById("product_name").value;
        //         document.getElementById("new_adds").innerHTML+=temp+"<br/>";
        // }
        // function addTR(){
        //     $("#product_list").append(
        //         $("<tr>").append(
        //             $("<td>").html(
        //                 '<input type=text name=A value="AAA"/><input name=A value="AAA"/>'
        //             ),
        //             $("<td>").html(
        //                 '<input type=text name=B value="BBB"/><input name=A value="BBB"/>'
        //             ),
        //             $("<td>").html(
        //                 '<input type=text name=C value="CCC" size="3" /><input name=A value="CCC"/>'
        //             ),
        //             $("<td>").html(
        //                 '<input type=text name=D value="DDD" size="3" /><input name=A value="DDD"/>'
        //             ),
        //             $("<td>").html(
        //                 '<input type=text name=E value="AAA" size="3" /><input name=A value="AAA"/>'
        //             )
        //         )
        //     );
        // }
        /*-------------------------------增加購物清單----------------------------------------------------*/
        function adding_product() {
            array_length++;

            nt = document.getElementById('product_list').insertRow(document.getElementById('product_list').rows.width)
            one = nt.insertCell(0);
            two = nt.insertCell(1);
            three = nt.insertCell(2);
            four = nt.insertCell(3);
            five = nt.insertCell(4);
            six = nt.insertCell(5);

            one.innerHTML = "<input type='text' value='" + array_length + "' class='print' size='3'>";
            two.innerHTML = "<textarea id='product_name' name='product_name' value='產品規格' rows='4' cols='40' class='print' style='resize:none;'></textarea>";
            three.innerHTML = "<input type='text'value='' size='5'class='print' id='quanity" + array_length + "'  >";
            four.innerHTML = "<input type='text'value='' size='12' class='print' id='normal" + array_length + "' onkeyup='same_price(this)'>";
            five.innerHTML = "<input type='text'value=''class='print' id='special_offer" + array_length + "' >";
            six.innerHTML = "<input type='text' readonly='true' value='' id='total" + array_length + "' class='print'>";
        };
        /*---------------------------------------小計跟總價計算--------------------------------------------*/
        function substotal() {
            for (i = 0; i < array_length; i++) {
                document.getElementById("total" + (i + 1)).value = document.getElementById("quanity" + (i + 1)).value * document.getElementById("special_offer" + (i + 1)).value;
            }
        };
        function total() {
            var total = new Array(100);
            var final_price = 0;
            for (i = 0; i < array_length; i++) {
                total[i] = document.getElementById("total" + (i + 1)).value;
                final_price += parseInt(total[i]);
            }
            document.getElementById("final_summary").value = final_price;
            document.getElementById("final_total").value = (final_price * 1.05).toFixed(0);
        }
        /*------------------------------------列印模式-----------------------------------------------*/
        function print() {//列印button

            

            const temp = document.getElementById("printbtn");
            temp.style.opacity = "0";
            //temp.style.color = "white";
            //temp.style.width = "100px";
            //temp.style.height = "100px";
            //temp.style.marginTop = "-7em";
            document.getElementById("add_button").style.display = 'none';
            document.getElementById("customer_button").style.display = 'none';
            document.getElementById("product_name").style.resize = 'none';
            document.getElementById("product_name").style.overflow = 'hidden';
            document.getElementById("MyWay_product").style.display = "none";
            document.getElementById("flip-box-back").style.display = "none";
            document.getElementById("flip-box-front").style.color = "black";
            document.getElementById("add_remark").style.display = "none";
            document.getElementById("add_precautions").style.display = "none";
            
            const x = document.getElementsByClassName("deletebt");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
            }
            const y = document.getElementsByClassName("deletebtR");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "none";
            }
        };

        /*--------------------------------------自動KEY---------------------------------------------*/
        function same_price(same) {

            console.log(same.id);
            var temp = same.id;
            for (i = 0; i <= array_length; i++) {
                if (temp == "normal" + i) {
                    document.getElementById("special_offer" + i).value = document.getElementById("normal" + i).value;
                }
            }
        };
        /*-----------------------------------------------------------------------------------*/
        function subtotal_special(special) {//小計
            const quan = new Array(100)
            for (i = 0; i < array_length; i++) {
                quan[i] = parseInt(document.getElementById("quanity" + array_length).value);
                document.getElementById('total' + array_length).value = (parseInt(special) * parseInt(quan[i]));
                // console.log(total1.value);
                // console.log(special);
                // console.log(quan[i]);
            }
        };
        /*-----------------------------------------------------------------------------------*/
        function subtotal_quanity(quanity) {//小計
            const special = new Array(100);
            for (i = 0; i < array_length; i++) {
                special[i] = parseInt(document.getElementById("special_offer" + array_length).value);
                document.getElementById('total' + array_length).value = (parseInt(quanity) * parseInt(special[i + 1]));
            }
        };
        /*------------------------------------刪除購物車-----------------------------------------------*/
        function delete_row() {
            if (array_length >= 2) {
                document.getElementById("product_list").deleteRow(array_length + 1);
                array_length--;
            }
        };
        /*-----------------------------------------------------------------------------------*/
        //  function subtotal_special(special){//小計
        //      const quan=parseInt(document.getElementById("quanity").value);
        //         for(i=0;i<array_length;i++){
        //             document.getElementById('total'+array_length).value= (parseInt(special)*parseInt(quan)).toFixed(2);
        //         }
        //  }
        // function subtotal_quanity(quanity){//小計
        //     const special=parseInt(document.getElementById("special_offer").value);
        //     for(i=0;i<array_length;i++){
        //         document.getElementById('total'+array_length).value= (parseInt(quanity)*parseInt(special)).toFixed(2);
        //     }
        // }

        /*-----------------------------------------新增刪除提醒事項------------------------------------------*/
        var txtId = 2;
        function add_precaution() {
            $("#Add_Precautions").append('<div id="divB' + txtId + '">' + txtId + '.<input style="border:0;"  size="80" type="text" name="test[]" /> <input type="button" class="deletebt" value="刪除" onclick="deltxt(' + txtId + ')"></div>');
            txtId++;
        }
        function deltxt(id2) {
            $("#divB" + id2).remove();
            txtId--;
        }
        /*-----------------------------------------新增刪除備註------------------------------------------*/
        var add_button = 8;

        function add_remark() {
            $("#Add_remarks").append('<div id="divA' + add_button + '">' + add_button + '.<input style="border:0;"  size="80" type="text" name="test[]" /> <input type="button" class="deletebtR" value="刪除" onclick="delbt(' + add_button + ')"></div>');
            add_button++;
        }
        function delbt(id1) {
            $("#divA" + id1).remove();
            add_button--;
        }
        /*-----------------------------------------新增客戶alert------------------------------------------*/
        function add_cus() {
            if (confirm(
                "客戶姓名:" + document.getElementById("input_customer_name").value +
                "\n日期:" + document.getElementById("input_date").value+
                "\n公司名稱:" + document.getElementById("input_company_name").value +
                "\n報價單編號:" + document.getElementById("input_Quotation_number").value
            )
        )
            { alert("成功"); /*新增客戶資料丟後台區*/ }
        };
    </script>
    <link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    <script>
        $(function () {
            $("#input_date").datepicker({
                altFormat: "yy/m/d",
                dateFormat: 'yy/m/d'
            });
            $("#input_dateline").datepicker({
                altFormat: "yy/m/d",
                dateFormat: 'yy/m/d'
            });
        });

    </script>
    <!------------------------------------------------------------PK串人名資料庫-------------------------------------------------------------->
    <script>

        $(function () {
            var availableTags = [];

            @*@foreach (var n in Model.CostumNames)
            {
                @:availableTags.push("@n");
            }*@

            var availableTagsSrc = @Html.Raw(Json.Serialize(Model.CostumList));

            $("#input_customer_name").autocomplete({
                source: availableTagsSrc,

                change: function (event, ui) {
                    //document.getElementById("input_customer_name").value = ui.item.c;
                    document.getElementById("input_company_name").value = ui.item.company.coName;

                    document.getElementById("input_company_position").value = ui.item.company.coAddress;
                    document.getElementById("input_Customer_number").value = ui.item.order.uninum;
                    document.getElementById("input_company_phone").value = ui.item.company.coPhone;

                    document.getElementById("input_date").value = new Date(ui.item.order.trandate).toLocaleDateString();
                    document.getElementById("input_dateline").value = new Date(ui.item.order.valdate).toLocaleDateString();

                    document.getElementById("input_Quotation_number").value = ui.item.order.quodate;
                    console.log(document.getElementById("input_Quotation_number").value);

                }
            });
        });
    </script>
    <!------------------------------------------------------------MODAL-------------------------------------------------------------->
    <script>
        $(function () {
            $('#modaldate').datepicker({
                altFormat: "yy-mm-dd",
                dateFormat: 'yy-mm-dd'
            });
            $('#modalvaldate').datepicker({
                altFormat: "yy-mm-dd",
                dateFormat: 'yy-mm-dd'
            });
        });

        $(document).ready(function () {
            $("#modaladd").click(function () {
                var data = {

                    cusname: $("#modalname").val(),
                    comname: $("#modalcomname").val(),
                    comaddr: $("#modalcomaddr").val(),
                    comphone: $("#modalcomphone").val(),
                    comtrandate: $("#modaldate").val(),
                    comquonum: $("#modalquonum").val(),
                    comuninum: $("#modaluninum").val(),
                    comvaldate: $("#modalvaldate").val()

                };
                var ask = confirm("確定送出嗎")
                if (ask == true)
                {
                    $.ajax({
                        type: "POST",
                        url: "/Home/Recivedata",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (data) {
                            alert("新增成功");
                            window.location.href ="@Url.Action("Index", "Home")";
                        },
                        error: function (data) {
                            alert("新增失敗");
                        }
                    });
                }
                else
                {

                }
                console.log(data);


            });
        });
        function realprint() {
            const temp = document.getElementById("printbtn");
            temp.style.opacity = "100";
            //temp.style.color = "white";
            //temp.style.width = "100px";
            //temp.style.height = "100px";
            //temp.style.marginTop = "-7em";
            document.getElementById("add_button").style.display = 'inherit';
            document.getElementById("customer_button").style.display = 'inherit';
            document.getElementById("product_name").style.resize = 'inherit';
            document.getElementById("product_name").style.overflow = 'visible';
            document.getElementById("MyWay_product").style.display = "inherit";
            document.getElementById("flip-box-back").style.display = "inherit";
            document.getElementById("flip-box-front").style.color = "black";
            document.getElementById("add_remark").style.display = "inherit";
            document.getElementById("add_precautions").style.display = "inherit";

            const x = document.getElementsByClassName("deletebt");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "inherit";
            }
            const y = document.getElementsByClassName("deletebtR");
            for (i = 0; i < y.length; i++) {
                y[i].style.display = "inherit";
            }
        };
    </script>
    
</head>
<body>

    <div id="container" class="container">
        <div class="A">
            <div id="header">
                <div class="logo">
                    <h1>
                        <!-- LOGO -->
                        <a href="@Url.Action("Index", "Home")"><img class="img" src="~/IMAGE/LOGO.png" id="home" alt=""></a>
                        <div id="sample_word" name="sample_word">
                            報價單
                        </div>
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front" id="flip-box-front">
                                    <strong name="Logoname"><span style="font-size: 30px;">麥威科技有限公司</span></strong>
                                </div>
                                <div class="flip-box-back" id="flip-box-back">
                                    <strong name="Logoname"><span style="font-size: 30px;">麥威科技有限公司</span></strong>
                                </div>
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
            <div class="companyinfo">
                <span>@Model.CompanyAddr</span><br>
                電&emsp;&emsp;話:<span>@Model.CompanyPhone</span><br>
                統一編號:<span>@Model.CompanyUninum</span>
                <div class="company_email" id="company_email">
                    <label>E-mail:</label>
                    <div class="company_email_data" id="company_email_data">
                        @Model.CompanyEmail
                    </div>
                </div>
            </div>

            <hr class="hr">
        </div>
        <!---------------------------------------------------------------  -------------------------------------------------------------->
        <div class="information" id="information">
            <!-- 客戶資料 -->
            <div id="first" name="first">
                <div id="name" name="name">
                    <label for="name">客戶姓名</label>
                    <input type="text" id="input_customer_name" size="60">
                    @*<select id="name_list" name="name" >
                        <option value="">請選擇</option>
                        <optgroup label="科技業">
                            <option value="林國強">林國強</option>
                            <option value="張國寶">張國寶</option>
                        </optgroup>
                        <optgroup label="傳統業">
                            <option value="張一男">張一男</option>
                            <option value="朱湘玲">朱湘玲</option>
                        </optgroup>
                    </select>*@
                </div>
                <div class="section2" id="date">日期:<input type="text" id="input_date" name="date" class='print' /><br /></div>
            </div>
            <div id="second" name="second">
                <div class="section2" id="company_name">公司名稱:<input type="text" id="input_company_name" size="60" name="company_name" class='print' /><br /></div>
                <div class="section2" id="Quotation_number">報價單編號:<input type="text" id="input_Quotation_number"  name="Quotation_number" class='print' /><br /></div>
            </div>
            <div id="third" name="third">
                <div class="section2" id="company_position">公司地址:<input type="text" id="input_company_position" name="company_position" class='print' size="60" /><br /></div>
                <div class="section2" id="Customer_number">客戶統一編號:<input type="text" id="input_Customer_number"  name="Customer_number" class='print' /><br /></div>
            </div>
            <div id="fourth" name="fourth">
                <div class="section2" id="company_phone">公司電話:<input type="text" id="input_company_phone"size="60" name="company_phone" class='print' /><br /></div>
                <div class="section2" id="dateline">報價有效期至:<input type="datetime"  id="input_dateline" name="dateline" class='print' /><br /></div>
            </div>
        </div>

        <div id="customer_button">
            <button type="button" data-toggle="modal" data-target="#exampleModal" id="addcus">新增客戶</button>


            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-light text-info">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">新增客戶資訊</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- method="post" id="form" name="form" action="Receivedata" -->
                            <form >
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="col-form-label">客戶姓名:</label>
                                                <input type="text" class="form-control" id="modalname" name="modalname" required>
                                                <br>
                                                <label class="col-form-label">公司名稱:</label>
                                                <input type="text" class="form-control" id="modalcomname" required>
                                                <br>
                                                <label class="col-form-label">公司地址:</label>
                                                <input type="text" class="form-control" id="modalcomaddr" required>
                                                <br>
                                                <label class="col-form-label">公司電話:</label>
                                                <input type="text" class="form-control" id="modalcomphone" required>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="col-form-label">日期:</label>
                                                <input type="text" class="form-control" id="modaldate" required>
                                                <br>
                                                @*<label class="col-form-label">報價單開立日期:</label>
                                                <input type="text" class="form-control" id="modalquonum" >
                                                <br>*@
                                                <label class="col-form-label">客戶統一編號:</label>
                                                <input type="text" class="form-control" id="modaluninum" required>
                                                <br>
                                                <label class="col-form-label">報價有效期至:</label>
                                                <input type="text" class="form-control" id="modalvaldate" required>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal">關閉</button>
                                    <button type="button" id="modaladd">新增</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

            @*<button value="新增客戶" onclick=add_cus()>新增客戶</button>*@
        </div>

        <hr class="hr">



        <!---------------------------------------------------------------  -------------------------------------------------------------->
        <div class="Precautions" id="Precautions">
            <!-- 注意事項 -->
            注意事項: <br /> 1.本報價單經雙方協議成交，經客戶簽章視為正式訂單。
            <div id="Add_Precautions"></div>
            <button name="add_precautions" id="add_precautions" onclick="add_precaution()">增加注意事項</button>
        </div><hr class="hr">
        <div class="product" id="product">
            <!-- 購買清單 -->
            <table class="product_list" id="product_list" style="border:1px black solid;" cellpadding="5" border='1'>
                <tr style="border-top:hidden; border-left:hidden; border-right:hidden; ">
                    <!--固定tr位置-->
                    <td class="td1" width="50px">
                    <td class="td2" width="310px">
                    <td class="td3" width="80px">
                    <td class="td4" width="160px">
                    <td class="td5" width="180px">
                    <td class="td6" width="180px">
                </tr>
                <tr class="list_name">
                    <td>品名編號</td>
                    <td>產品規格</td>
                    <td>數量</td>
                    <td>單價</td>
                    <td>特價(未稅)</td>
                    <td>小計</td>
                </tr>
                <tr class="list_name2" style="height:100px" ;>
                    <td><input type="text" value="1" class="list" size="3"></td>
                    <td class="list_name2_td1" id="list_name2_td1">
                        <select id="MyWay_product" onchange="MyWay_product()">
                            <option value="">請選擇</option>
                            @foreach (var item in Model.MywayProds)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }

                            @*<option value="">請選擇</option>
                            <option value="Fever_Guard">Fever Guard</option>
                            <option value="My_Face">My-Face</option>>*@
                        </select>
                        <textarea id="product_name" name="product_name" value="產品規格" rows="5" cols="40" class="print" placeholder="請選擇"></textarea>
                    </td>
                    <td><input type="text" value="0" size="5" class="list" id="quanity1" ></td>
                    <td><input type="text" value="0" size="8" class="list" id="normal1" onkeyup="same_price(this)"></td>
                    <td><input type="text" value="0" class="list" id="special_offer1" ></td>
                    <td>
                        <input type="text" value="0" readonly="true" id="total1" class="list">
                    </td>
                </tr>
                <div id="add_button">
                    <button onclick="adding_product()">新增項目</button>
                    <button onclick=" delete_row()">刪除項目</button>
                    <button onclick="substotal()">小結</button>
                    <button onclick="total()">計算總金額</button>
                </div>
            </table><br />
            <!------------------------------ 總價結算 -------------------------------------------->
            <div id="table2" class="table2">
                <table style="border:3px black solid;" cellpadding="5">
                    <tr >
                        <td width="50px">
                        <td width="50px">
                    </tr>
                    <tr>
                        <td>小計</td>
                        <td><input type="text"  class="print" id="final_summary" value=""></td>
                    </tr>
                    <tr class="list_name2">
                        <td>稅額</td>
                        <td>
                            <input type="text"  id="total" class="print" value="5%" >
                        </td>
                    </tr>
                    <tr class="list_name2">
                        <td>總計</td>
                        <td>
                            <input type="text"  id="final_total" class="print" value="" >
                        </td>
                    </tr>
                </table>
            </div>
            <!------------------------------ 總價結算 -------------------------------------------->
            <!------------------------------ 備註 -------------------------------------------->
            <div class="remarks" id="remarks">
                備註 <br />
                1.<span><input type="text" value="硬體及系統保固一年" size="80" class="print"></span><br />
                2.<span><input type="text" value="如果有其他增加項目則另外報價" size="80" class="print"></span><br />
                3.<span><input type="text" value="出貨地台灣" size="80" class="print"></span></span><br />
                4.<span><input type="text" value="款項未付清前,產品所有權屬於麥威科技" size="80" class="print"></span><br />
                5.<span><input type="text" value="下單後訂單不可取消" size="80" class="print"></span><br />
                6.<span><input type="text" value="交期:下單後一週內交貨" size="80" class="print"></span> <br />
                7.<span><input type="text" value="15天內完成維修" size="80" class="print"></span><br />
                <div id="Add_remarks"></div>
                <button name="add_remark" id="add_remark" onclick="add_remark()">增加備註</button>
            </div>
            <!------------------------------ 備註 -------------------------------------------->
        </div>
        
        <div class="signature" id="signature">
            <!-- 簽名 -->
            <input style=" border:1px solid black; width:15em; padding-left:3em;" value="客戶同意採購簽章:" readonly="true"></input>
            <br />
            <br />
            <br />
            <hr class="hr" align="left" style="width:23em">


        </div>
        <footer>
            <div id="print_button">
                <button onclick="print()" ondblclick="realprint()" id="printbtn" title="點兩下返回編輯模式按鈕">列印模式</button>
            </div>
            <center>
                <hr size="3px" color="gray">如有何問題，請即聯絡:
                <span id="remark_name" class="remark_name">
                    @Model.CompanyName
                </span>
                <span id="remark_phone" class="remark_phone">
                    @Model.CompanyPhone
                </span>
                <span id="remark_mail" class="remark_mail">
                    @Model.CompanyEmail
                </span>
                <br />
                <strong>祝事業興旺!</strong>
            </center>
        </footer>
    </div>
</body>

</html>
