﻿@model MyWay_Quotation.ViewModels.IndexViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
    <title>My Way</title>
    <style>
        
    </style>
    <script>
              $(document).ready(function () {
                  $("#login").click(function () {
                var data = {
                    Acc: $("#Acc").val(),
                    Pwd: $("#Pwd").val()
                };

                    $.ajax({
                        type: "POST",
                        url: "/Home/Check",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (data) {
                            window.location.href ="@Url.Action("Index", "Home")";
                        },
                        error: function (data) {
                            alert("新增失敗");
                        }
                    });

                console.log(data);


            });
        });
    </script>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">麥威報價單系統</p>
        <div class="form1">
            <input class="un " type="text" align="center" placeholder="帳號" id="Acc">
            <input class="pass" type="password" align="center" placeholder="密碼" id="Pwd">
            <button class="submit" type="button" align="center" id="login">登入</button>
            <br><br><br><br>
            <div class="copyright">
                <center><strong> COPYRIGHT © 2020 MYWAYTECH </strong></center>
            </div>
        </div>
    </div>

</body>
</html>

